{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Item: {{item.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="" method = "post">
				<div class="form-group">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name" value="{{item.name}}">
				<div class="padding-bottom"></div>

				<label for="picture">Picture:</label>
				<input type ="text" class="form-control" maxlength="100" name="picture" value="{{item.picture}}">
				<div class="padding-bottom"></div>

				<label for="description">Description:</label>
				<textarea class="form-control" name="description">{{item.description}}</textarea>
				<div class="padding-bottom"></div>

				<label for="cat_id">Category:</label>
				<select name="cat_id">
					{% for cat in categories %}
					<option value="{{cat.id}}" {% if cat.id == item.category.id %}selected="selected"{% endif %}>{{cat.name}}</option>
					{% endfor %}
				</select>
				<div class="padding-bottom"></div>

				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
